@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @Html.ActionLink("Listado de personas aleatorio", "listadoPersonaRandom")
    <br />
    @Html.ActionLink("Formulario", "editarPersona")
</div>


